* {
    background-color: white;
}

footer{
    display: grid;
    grid-template-rows: 3;
}

div{
    width: 200px;
    height: 400px;
    margin: 0 auto;
    border: 2px black solid;
}

h3{
    text-align: center;
}