* {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    /* background-color:rgb(1, 222, 222); */
    background-color: turquoise;
}

div{
    width: 200px;
    height: auto;
    margin: 0 auto;
    border: 2px black solid;
}

h3{
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    text-decoration: underline;
    padding-top: 10px;
}

p{
    text-align: center;
    padding: 10px 0;
}